Repository OpenRIAServices/OpenRiaServices, pull requests merged in 2020-11, with the labels that each got.

#249 Support IgnoreDataMember on client and move types in client project from "Server" namespace
  Changelog.md
  src/OpenRiaServices.Client/Framework/Internal/MergeAttribute.cs
  src/OpenRiaServices.Client/Framework/Internal/MetaMember.cs
  src/OpenRiaServices.Client/Framework/Internal/MetaType.cs
  src/OpenRiaServices.Client/Framework/Serialization/KeyValue.cs
  src/OpenRiaServices.Client/Test/Client.Test/Reflection/MetaTypeTests.cs
  src/OpenRiaServices.Server.UnitTesting/Framework/EntityActionCollection.cs
  src/OpenRiaServices.Server/Test/AuthorizationTests.cs
  src/OpenRiaServices.Server/Test/DomainMethodServerTest.cs
  src/OpenRiaServices.Server/Test/DomainServiceTests.cs
  src/OpenRiaServices.Server/Test/OpenRiaServices.Server.Test.csproj
Labels: Area-Client, Breaking Change

#252 Remove MergeAttribute
  src/OpenRiaServices.Client/Framework/Internal/MergeAttribute.cs
  src/OpenRiaServices.Client/Framework/Internal/MetaMember.cs
Labels: Area-Client, Breaking Change

#242 Full IValidatableObject Support
  Changelog.md
  src/OpenRiaServices.Client/Framework/Internal/MetaType.cs
  src/OpenRiaServices.Client/Test/Client.Test/Data/ComplexTypeTests.cs
  src/OpenRiaServices.Client/Test/Client.Test/Data/DomainContextTests.cs
  src/OpenRiaServices.Client/Test/Client.Test/Data/ValidationUtilitiesTests.cs
  src/OpenRiaServices.Server/Framework/Data/MetaType.cs
  src/OpenRiaServices.Server/Test/DomainServiceDescriptionTest.cs
  src/Test/Desktop/OpenRiaServices.Common.DomainServices.Test/Cities/Cities.shared.cs
  src/Test/Desktop/OpenRiaServices.Common.DomainServices.Test/Mocks/ComplexTypeScenarios.cs
Labels: Area-Client, Area-Server

#256 Dont enable IncludeExceptionDetailInFaults by default
  Changelog.md
  src/OpenRiaServices.Hosting.Wcf/Framework/WCF/DomainServiceHost.cs
  src/OpenRiaServices.Hosting.Wcf/Test/Data/DomainServiceHostTest.cs
Labels: Area-Server, Area-Server-Hosting, security
